/* remove scroll bar: game scroll view */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

/* Stick table head */
.table-container {
  position: relative;
  overflow: auto;
  height: calc(100vh - 15.5rem);
}

.table-header {
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 10; 
}
